# Airflow UID / GID (On Linux, set to $(id -u), on Windows 50000 is standard)
AIRFLOW_UID=50000
AIRFLOW_PORT=8080

# Metadata DB Credentials
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow_secure_password_2026
POSTGRES_DB=airflow

# Redis Broker Credentials
REDIS_PASSWORD=redis_secure_auth_token_2026

# Airflow Core Fernet Key (Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqBpPo=

# Default Web UI Admin User
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin_password
_AIRFLOW_WWW_USER_EMAIL=admin@continuum.internal
